h1{
	color:aquamarine;
	font:times;
	text-align:center;
}

body{
	background: green;
	text-align: center;
}
div{
	background: blue;
	color:aquamarine;
	font:times;
}

#circle{
	height: 200px;
	width: 200px;
	border-radius: 100%;
	margin-top: 100px;
	text-align: center;
	margin: auto;
	color:white;


}
img{
	height: 150px;
	width: 150px;
}


